__pycache__/
*.pyc
*.pyo
*.pyd

docs/
LICENSE
README.md

venv/
.venv/

.git/
.gitignore

src/trackmania-medals/__pycache__
src/trackmania-medals/README.md
tokens/README.md
data/README.md

config/.gitkeep
config/accountId.txt

data/
output/
tokens/
