config/accountId.txt
config/credentials.json
data/Final.json
data/MedalMaps.json
data/PBMaps.json
data/TOTDMaps.json
output/medals.txt
tokens/access_token_core.txt
tokens/access_token_live.txt
tokens/access_token_oauth.txt
tokens/refresh_token_core.txt
tokens/refresh_token_live.txt
tokens/refresh_token_oauth.txt
venv/
src/trackmania-medals/__pycache__
